@media(min-width:790px){
h2{
  color: white; font-size: 2vw; font-family: Arial, sans-serif;
  position: absolute; top: 0vw; left: 56vw; float:left;
  text-shadow: -1px 0px 1px black; line-height: 3vw;
}
#header{
  background-image: url(image/salad4.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%; height: 6vw;
}
#slogan1{
  color: white; font-size: 3vw; font-family: Arial, sans-serif;
  position: absolute; top: 1.4vw; left: -10vw; font-weight: bold;
  float: left; text-shadow: -1px 0px 1px black; text-align:center;
  width: 100%; line-height: 3vw;
}
.content1{
  margin-top: 8vw; color: black; text-align: left;
  z-index: 2; position: relative;
  width: 60%; height: auto; margin-left: 20vw; margin-right: 20vw;
  text-align: justify;
}
}
