body{
  background-color: white; line-height: 3vw;
  margin: 0;
  font-size: 1.6vw; font-family: Arial, sans-serif;
}
h2{
  color: white; font-size: 2.3vw; font-family: Arial, sans-serif;
  position: absolute; top: 22vw; left: 58vw;
}
h3{
  font-size: 2.5vw; font-family: Arial, sans-serif;
  margin-top: 0.3vw; margin-bottom: 1.5vw;
}
a{
  text-decoration: none;
  color: inherit;
}
.menu{
  background-color: rgb(0, 50, 0); height: 3.5vw;
  font-size: 1.4vw; z-index: 3;
}
.menu2{
  background-color: white; height: 4vw;
  font-size: 1.4vw; z-index: 3;
  border-bottom: solid gray 0.5px;
  text-align: left;
}
#slogan1{
  color: white; font-size: 6vw; font-family: Arial, sans-serif;
  position: absolute; top: 19vw; left: 20vw; font-weight: bold;
}
#slogan2{
  display: none;
}
#menu_grid{font-family: Arial, sans-serif; color: white; padding-top: 0.27vw;}
#menu_grid2{
  font-family: Arial, sans-serif; color: black; padding-top: 0.7vw;
  text-align: left;}
.content1{
  margin-top: 10vw; color: black; text-align: left;
  z-index: 2; position: relative;
}
.text_center{text-align: center;}
.center{left: 20vw;}
.top_content{margin-top: 10vw;}
.max_width{max-width: 1200px;}
.each_menu{
  padding-left: 2vw; padding-right: 2vw;
  margin-left: 1.5vw; margin-right: 1.5vw;
  padding-top: 1vw; padding-bottom: 1vw;
}
.each_menu2{
  padding-left: 1.5vw; padding-right: 1.5vw; padding-bottom: 0.92vw;
  margin-left: 0.5vw; margin-right: 0.5vw;
}
#first_menu2{
  margin-left: 5.5vw;
}
.innerbox_left{
  float: left; width: 42vw; height: auto;
  padding-left: 5vw; text-align: justify;
}
.innerbox_right{
  float:right; width: 42vw; height: auto; padding-right: 5vw;
  text-align: justify;
}
.innerbox{
  width: 42vw; height: auto;
  text-align: justify;
  margin: 10vw 0 10vw 5vw; float: left;
  float: left;
  box-shadow: 0 6px 12px 0 rgba(0,0,0,0.8); transition: 0.3s;
}
.innerbox:hover{
  box-shadow: 0 12px 24px 0 rgba(0,0,0,0.8);
}
.innerbox_content{
  padding: 2vw;
}
.more_left{
  display: inline-block; width: 64%; height: auto;
}
.more {
  color: rgb(0, 50, 0);
  text-align: center;
  font-size: 1.7vw;
  font-family: Arial, sans-serif;
  font-weight: bold;
  padding: 0px;
  width: 14vw;
  cursor: pointer;
  display: inline-block;
}
.more:after {
  content: ' \00bb';
  font-size: 3.4vw;
  position: relative;
  top: 0.25vw;
  right: 0px;
  transition: 0.5s;
}
.more:hover {
  color: rgb(50, 130, 0);
}
.more span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.more:hover span {
  padding-right: 1.5vw;
  color: rgb(50, 130, 0);
}

.more:hover span:after {
  opacity: 1;
  right: 0;
}
.more_y {
  color: rgb(255, 230, 153);
  text-align: center;
  font-size: 1.7vw;
  font-family: Arial, sans-serif;
  font-weight: bold;
  padding: 0px;
  width: 14vw;
  cursor: pointer;
  float: right;
}
.more_y:after {
  content: ' \00bb';
  font-size: 3.4vw;
  position: relative;
  top: 0.25vw;
  right: 0px;
  transition: 0.5s;
}
.more_y:hover {
  color: rgb(100, 200, 0);
}
.more_y span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.more_y:hover span {
  padding-right: 1.5vw;
  color: rgb(100, 200, 0);
}

.more_y:hover span:after {
  opacity: 1;
  right: 0;
}
#header{
  background-image: url(image/salad3.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%; height: 30vw;
}
#br1{
  display: none;
}
#second{
  background-image: url(image/soil2.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-top: 7vw;
  float: left;
  padding-top: 15vw;
  padding-bottom: 10vw;
  width: 100%;
}
#third{
    width: 100%; height: auto;
    background-image: url(image/cabbage.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-top: 15vw;
    float: left;
}
#bottom{
  background-color: rgb(0, 15, 0); width: 100%; height: 9vw;
  color: white; margin-top: 20vw;
  font-family: Arial, sans-serif; font-size: 1.5vw
}
.mySlides {display: none;}
/* Slideshow container */
.slideshow-container {
  position: relative;
  margin: auto;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 1.2vw;
  padding-bottom: 1.5vw;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
@media(max-width:790px){
  .text {
    font-size: 12px;
    padding-bottom: 2vw;
  }
  .menu{
    background-color: rgb(0, 50, 0); height: 40px;
    position: sticky; top: 0; font-size: 15px; z-index: 3;
  }
  .menu2{
    background-color: rgb(255, 255, 255); height: 41px;
    position: sticky; top: 40px; font-size: 15px; z-index: 3;
    border-bottom: solid gray 0.5px;
  }
  #menu_grid{
    font-family: Arial, sans-serif; color: white; padding-top: 3.2px;
  }
  #menu_grid2{
    font-family: Arial, sans-serif; color: black; padding-top: 0.7vw;
    text-align: left;}
  .each_menu{
    padding-left: 1.5vw; padding-right: 1.5vw;
    padding-top: 11.5px; padding-bottom: 11.5px;
  }
  .each_menu2{
    padding-left: 1.5vw; padding-right: 1.5vw;
    padding-bottom: 11px;
  }
  #first_menu2{
    margin-left: 3vw;
  }
  h2{
    color: white; font-size: 25px; font-family: Arial, sans-serif;
    position: absolute; top: 200px; left: 10vw;
    text-shadow: -1px 0px 1px black;
  }
  h3{
    font-size: 19pt; margin-top: 8vw;
  }
  body{
    line-height: 26pt;
    font-size: 13pt; font-family: Arial, sans-serif;
  }
  .innerbox_left{
    float: none; width: 90%; height: auto;
    padding-left: 5vw;
  }
  .innerbox_right{
    float: none; width: 90%; height: auto; padding-left: 5vw;
  }
  .innerbox{
    float: none; width: 90%; height: auto; margin-left: 5vw;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.8); transition: 0.3s;
  }
  .innerbox:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.8);
  }
  .innerbox_content{
    padding: 0 15px 15px 15px;
  }
  .more_left{
    display: inline-block; width: 48%; height: auto;
  }
  .more {
    color: rgb(0, 50, 0);
    text-align: center;
    font-size: 20px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    padding: 0px;
    width: 180px;
    cursor: pointer;
  }
  .more:after {
    content: ' \00bb';
    font-size: 30px;
    position: relative;
    top: -0.3px;
    right: 0px;
    transition: 0.5s;
  }
  .more span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }

  .more:hover span {
    padding-right: 18px;
  }

  .more:hover span:after {
    opacity: 1;
    right: 0;
  }
  .more_y {
    color: rgb(255, 230, 153);
    text-align: center;
    font-size: 20px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    padding: 0px;
    width: 180px;
    cursor: pointer;
    float: right;
  }
  .more_y:after {
    content: ' \00bb';
    font-size: 30px;
    position: relative;
    top: -0.3px;
    right: 0px;
    transition: 0.5s;
  }
  .more_y span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }

  .more_y:hover span {
    padding-right: 18px;
  }

  .more_y:hover span:after {
    opacity: 1;
    right: 0;
  }
  #header{
    background-image: url(image/salad3.jpg);
    background-repeat: no-repeat;
    background-position: -100px;
    background-size: cover;
    width: 100%; height: 300px;
  }
  #slogan1{
    display: none;
  }
  #slogan2{
    color: white; font-size: 60px; font-family: Arial, sans-serif;
    position: absolute; top: 30px; left: 10vw; line-height: 60px;
    font-weight: bold; display: block; text-shadow: -1px 0px 1px black;
  }

  #first{
    padding-top: 7vw;
  }
  #br1{
    display: block;
  }
  #second{
    background-image: url(image/soil2.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
    padding-top: 40vw;
    padding-bottom: 30vw;
    margin-top: 15vw;
  }
  #third{
      width: 100%; height: auto;
      background-image: url(image/cabbage_vertical.jpg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      margin-top: 15vw;
      float: left;
  }
  #bottom{
    font-size: 14px; height: 100px;
  }
}
