.tab {
  overflow: hidden;
}

/* Style the buttons inside the tab */
.tab span {
  background-color: rgba(80,110,80,0.1);
  cursor: pointer;
  padding: 12px 5vw;
  border: 1px solid #ccc;
  border-radius: 10px 10px 0 0;
  float: left;
  filter: brightness(90%);
}

/* Create an active/current tablink class */
.tab span.active {
  border-bottom: 1px solid white;
  background-color: white;
  box-shadow: 0.5vw 0.5vw 0.5vw rgba(0, 0, 0, 0.3);
  filter: brightness(100%);
}

/* Style the tab content */
.tabcontent {
  display: block;
  padding: 6px 12px;
  border: 1px solid #ddd;
  margin-top: -1px;
  box-shadow: 0.5vw 0.5vw 0.5vw rgba(0, 0, 0, 0.3);
}
.tabcontentbox{
  width: 90%; height: auto; padding-left: 3vw;
}
@media(max-width:790px){
  .tab span {
    padding: 5px 5vw;
  }
  .tab span.active {
    border-bottom: 1px solid white;
    background-color: white;
    box-shadow: 3px 0 3px rgba(0, 0, 0, 0.3);
  }
  .tabcontentbox{
    width: 100%; height: auto; padding-left: 0;
  }
}
